 *{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Open Sans", Verdana;
}

html, body
{

    overflow-x:hidden ;/* evitar que se desuadr y de un scroll feo*/
}
body
{
    background: white;
}

.clearfix
{
    clear: both;
    float: none;
}
.container
{
    width: 85%;
    margin: 0px auto; /* centrar un bloque*/
}

/*Cabecera*/

#main-header
{
    background: white;
    height: 100px;
    line-height: 85px; /* esto permite ubicarnos en la cabecera como centrar */
}
#logo
{
    width: 63%;
    font-weight: bold;
    font-size: 25px;
    color:#FFFF;

}

#menu
{
    width: 300px;
    float: left;
}

#menu ul li
{
    list-style: none;
    float: left ;
    margin-left: 19px;
    margin-right: 19px;
}

#menu ul li a:hover
{
    color:#FFF6;
}

/**Slider*/

#slider
{
    height: 30px;
    background: #FFF6;
}

#slider h2
{
    font-size: 40px;
    text-align: center;
    color: white;
    line-height: 290px;
    text-shadow: 0px 0px 6px black;
}

/*Servicios*/

.subheader
{
    font-size:34px;
    color: #333;
    text-align: center;
    margin-top:40px;
    margin-bottom: 30px;
    padding-bottom:15px ;
    border:1px solid #FFF6;
}

.servise, video
{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;

} /* sirve para poner 3 elementos en fila */}

.service img 
{
    height: 48px;
    margin-bottom:20px ;
}

.service h3 
{
    margin-bottom: 10px;
} 

.service p, .video p
{
    color: #444444;
    text-align: center;
    display: block;
    width: 80%;
    margin:0px auto ; /* !MUCHA ATENCION EN ESTO ESTO AYUDA MUCHO REVISAR LOS COMANDOS DENTRO DE ESTA FUNCION AYUDA A ORGANIZAR CUANDO SE TIEN 3 CUADITOS*/
}

/**videos */

.video iframe
{
   width: 80%;
   height: 170px; 
}

/**FOOTER*/

#footer
{
    background: #333;
    padding-top:5px ;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

#footer .subheader
{
    color: white;
}
#networks
{
    display: block;
    width: 216px;
    margin: 0px auto;
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
#networks li
{
    float:  left;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 300ms;
}
#networks li:hover
{
    opacity: 0.8;
    transform:scale(1.1,1.1);

}

/* esto es loq ue le hace responsive  acceder a los @media no permite programar eventos de css en el "all" se espesifica para que pantallas  s*/

/* estos son conoccidos como los media queris  busca la ameteria de esto */


/*Query prueba */
/*@media all and (max-widht:1000px)
{
 #main-header{

    background: black ;
 }
}*/

@media (max-width:1225px)
{
    .container
    {
        width: 95%;
    }
}

@media (max-width:1085px)
{
     #main-header
     {
         height:70px ;
         line-height: 60%;
     }

     #logo
     {
        width: 60%;;
     }
   /* #logo
    {
        width: 220px;
        float:none;
        margin:0px auto;
    }

    #menu{
        float:none;
         margin:0px auto;

    }*/
}


@media (max-width:999px)
{
    #logo
    {
        width: 227px;
        float: none;
        margin:0px auto;
    }

    #menu
    {
        float: none;
        margin:0px auto ;

    }

    #slider
    {
        overflow: hidden; /*lo que se salga del slider que se esconda y no afcte a lo demas */
        height: 150px;
    }

    #slider h2
    {
        font-size: 30px;
        line-height: 30px; /* especiado de liea*/
        margin-top:50px/* por lo visto es mejor poner fijas*/
    }

}

@media (max-width:780px)
{
    .servise, video
    {
        width: 70%;
        text-align: center;
        float: none;
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 40px;
    
    } /* sirve para poner 3 elementos en fila */
    .service p, .video p
{
    margin-top:10px;
}

.service img {
    margin-bottom: 10px;
}
    .video iframe
    {
        width: 80%;
        height:223px;

    }
}

@media (max-width:460px)
{
    
    #slider h2
    {
        font-size: 25px;
        line-height: 30px; /* especiado de liea*/
        margin-top:60px/* por lo visto es mejor poner fijas*/
    }
}

@media (max-widht:377px){
    #menu
    {
            width: 100%;
            text-align: center;
    }
    #menu ul li 
    {
        margin-left: 4%;
        margin-right: 4%;
    }
    #slider h2
    {
    
        margin-top:40px/* por lo visto es mejor poner fijas*/
    }

    .servise, video
    {
        width: 90%;
        
    
    } /* sirve para poner 3 elementos en fila */
    .video iframe
    {
        width: 80%;
        height:140px;

    }
}

@media (max-widht:345px){
    #main-header
    {
            height: auto;
    }
    #menu ul li 
    {
        float: none;
    }

}